/*HTML Styling*/

html {
	background-image: radial-gradient(circle, rgb(61, 61, 61), rgb(44, 44, 44), rgb(31, 31, 31));
}

::selection {
	color: inherit;
	background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-image: radial-gradient(ellipse, rgb(44, 44, 44), rgb(31, 31, 31));
}

::-webkit-scrollbar-thumb {
	background: green;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 255, 0);
}

/*Navbar Styling*/

#navbar ul {
	list-style-type: none;
	margin: 0;
	background-color: transparent;
	overflow: hidden;
	padding: 0;
	margin-bottom: 15px;
}

#navbar li {
	float: left;
}

#navbar li:last-child {
	float: right;
}

#navbar ul li a {
	text-transform: uppercase;
	font: 14px / 1.4 sans-serif;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-size: 17px;
	color: green;
	padding: 8px;
	display: block;
	text-decoration: none;
	text-align: center;
}

#navbar ul li a:hover {
	color: rgb(0, 255, 0);
}

.current {
	text-decoration: none !important;
	border-bottom: rgb(0, 255, 0) 0.125em solid !important;
	text-decoration-color: rgb(0, 255, 0) !important;
	text-decoration-thickness: 0.125em !important;
	text-underline-offset: 1.5px !important;
	color: rgb(0, 255, 0) !important;
}

/*Feature Styling*/

#featured table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-image: url("../images/featured-background.gif");
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-style: solid;
	border-color: rgb(0, 255, 0);
	border-bottom-right-radius: 180px;
	border-top-left-radius: 180px;
	border-bottom-left-radius: 180px;
	border-top-right-radius: 180px;
}

#featured table td {
	text-align: center;
	list-style-type: none;
	background-color: transparent;
	padding: 0;
	margin-top: 15px;
}

#featured table td a {
	text-transform: uppercase;
	font: 14px / 1.4 sans-serif;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-size: 17px;
	color: green;
	padding: 8px;
	display: block;
	text-decoration: none;
	text-align: center;
}

#featured table td a:hover {
	color: rgb(0, 255, 0);
}

#featured table td a.logo {
	text-transform: uppercase;
	font: 14px / 1.4 sans-serif;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: rgb(0, 255, 0);
	padding: 8px;
	display: block;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 0 7px #00ff00, 0 0 7px #00ff00;
}

#featured table td a.logo:hover {
	color: rgb(0, 255, 0);
}

/*Copyright Styling*/

#copyright {
	text-align: center;
	color: green;
	font-weight: 400;
	font-family: sans-serif;
	margin-top: 50px;
	text-transform: uppercase;
}

#copyright h4:before {
	content: "";
	display: inline-block;
	position: relative;
	right: 0;
	top: -5px;
	height: 2px;
	width: 33%;
	background: rgb(0, 255, 0);
	margin-right: 15px;
}

#copyright h4 {
	font-size: 20px;
	color: rgb(0, 255, 0);
}

#copyright h4:after {
	content: "";
	display: inline-block;
	position: relative;
	left: 0;
	top: -5px;
	height: 2px;
	width: 33%;
	background: rgb(0, 255, 0);
	clear: both;
	margin-left: 15px;
}

#copyright h5 {
	font-size: 12px;
}

#copyright a {
	color: green;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
}

#copyright a:hover {
	color: rgb(0, 255, 0);
}

#copyright h6 {
	font-size: 10px;
}

/*Formatting for all devices*/

@media screen and (max-width: 600px) {
	#navbar ul li,
	#navbar ul li:last-child {
		float: none;
	}

	#copyright h4:before,
	#copyright h4:after {
		display: none;
	}
}
